@font-face {
    font-family: Mangga;
    src: url(BlackMango-Bold.otf);
}

*{
    margin: 10;
    padding: 10;
    list-style: none;
    font-family: sans-serif;
}


.logo a{
    background: #31393C;
    height: auto;
    width: auto;
    font-family: fantasy;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family:'Gill sans';
    font-size: 40px;
    font-weight: bold;
    color: rgb(234, 247, 116);
    justify-content: center;
}
.menubar{
    width: auto;
    height: auto;
    background:#31393C;
    font-family:Impact;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    }
    a{
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
        font-weight: bold;
        margin: 5px;
    }

.container{
    width:100%;
    height:100%;
    background-color: #a9a9a977;
}   
.AboutMe{
    width:100%;
    height:100%;
    background-color: rgba(116, 111, 111, 0.411);   
}
.AboutMe h1{
    padding-top: 10px;
    text-decoration: none;
    justify-content: center;
    font-family: Mangga;
    font-size: 40px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.AboutMe p{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family:Cochin;
    font-size: 30px;
    color: rgb(248, 248, 248);
}
.AboutMe li{
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family:Cochin;
    font-size: 30px;
    color: rgb(248, 248, 248);
}
.container{
    width: 960px;
    margin: 0 auto;
}
   
.Skills{
    width: 100%;
    height:100%;
    background-color: rgba(116, 111, 111, 0.411)
}
.Skills h1{
    padding-top: 10px;
    text-decoration: none;
    justify-content: center;
    font-family: Mangga;
    font-size: 40px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.Skills h3{
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 20px;
    font-family:Cochin;
    font-size: 30px;
    color: rgb(218, 231, 206);
}
.Skills li{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: 'Courier New';
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.Achievements{
    width: 100%;
    height:100%;
    background-color:rgba(116, 111, 111, 0.411);
}
.Achievements h1{
    padding-top: 10px;
    justify-content: center;
    font-family: Mangga;
    font-size: 40px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.Achievements p{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: 'Courier New';
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.PaA{
    width: 100%;
    height:100%;
    background-color: rgba(116, 111, 111, 0.411);
}
.PaA h1{
    padding-top: 10px;
    justify-content: center;
    font-family: Mangga;
    font-size: 40px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.PaA p{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    font-family: 'Courier New';
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.HaI{
    width: 100%;
    height:100%;
    background-color: rgba(116, 111, 111, 0.411);
}
.HaI h1{ padding-top: 10px;
    text-decoration: none;
    justify-content: center;
    font-family: Mangga;
    font-size: 40px;
    color: rgb(248, 248, 248);
    text-align: center;
}
.HaI li{
    padding-top: 0px;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: center;
    font-family: 'Courier New';
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-align: center;
}

.Contact h1{
    text-decoration: none;
    justify-content: center;
    font-family: Mangga;
    font-size: 20px;
    color: rgb(248, 248, 248);
    text-align: left;
}
.fa-facebook{
    color: rgb(180, 180, 180);
}
.fa-facebook:hover{
    color:rgb(238, 228, 228)
}
.fa-instagram{
    color: rgb(180, 180, 180);
}
.fa-instagram:hover{
    color:rgb(238, 228, 228)
}
.fa-github{
    color: rgb(180, 180, 180);
}
.fa-github:hover{
    color:rgb(238, 228, 228)
}
.topu{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 10px;
    font-size: 30px;
}
.AboutMe img{
    display: block;
    margin:auto;
    background:rgba(116, 111, 111, 0.411);
}
.honors{
    width: 300px;
    height: 200px;
    display: block;
    margin:auto;
    padding-bottom: 10px;
}
.punlasik{
    width: 300px;
    display: block;
    margin:auto;
    padding-bottom: 10px;   
}
.Research{
    width: 300px;
    display: block;
    margin:auto;
}
.zodiac{
    width: 100px;
    height: 100px;
   display: block;
   margin: 0px auto;
}